@media(max-width:768px) {
    .header .logo img {
        width: 120px;
        padding-top: 10px;
    
    }
    
    .header{
        width: 100%;
    }
    
    .line_header{
        width: 100%;
        height: 5px;
    }
    
    .header .midle ul li .email{
        font-size: 25px;
    }
    
    .header .right .menu{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .header{
        padding: 0px 5px;
    
    }
    
    .header .logo img{
        width: 80px;
        margin-right: 20px;
    }
    
    .header .midle ul{
        gap: 0px;
    }
    
    /* .header .right ul li{
    }  */
    
    .header .midle ul li .email{
        font-size: 16px;
        display: block;
        text-align: center;
    }
    
    .header .menu button img{
        width: 25px;
    }
    
    .header .midle ul li a{
        display: none;
    }
    
    /* 
    .first_sec .box .item .right{
        padding-right: 10px;
    } */
    
    .first_sec{
        margin-bottom: 100px;
    }
    
    .first_sec .box .item .left{
        margin-left: 20px;
    }
    
    .first_sec .box .item .right h1{
        font-size: 15px;
        padding-top: 15px;
    }
    
    .first_sec .box .item .left{
        height: 120px;
        width: 130px;
    }
    
    .first_sec  .box{
        padding-top: 40px;
        gap: 25px;
        margin-bottom: 20px;
    }
    
    .first_sec .box .item{
        gap: 15px;
    }
    
    
    .footer{
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    
    .footer_box .line{
        height: 5px;
    }
    
    .footer .right a {
        display: none;
    }
    
    .footer .right .main_a{
        display: block;
    }
    
    body{
        overflow-x: hidden;
    }
    
    .header{
        width: 100%;
        height: 50px;
    }
    
    .line_header{
        width: 100%;
    }
    
    .header .midle .menu {
        right: 5px;
        top: 5px;
    }
    
        .footer a{
            font-size: 15px;
        }
    
        .footer .left {
            margin-left: 10px;
        }
    
    
        .footer p {
            font-size: 15px;
        }
    
        .footer .right .main_a{
            margin-left: 0px;
        }
    
        .footer{
            gap: 5px;
            height: 50px;
        }
    
    
        .second_sec{
            margin-bottom: 100px;
        }
    
        .second_sec h1{
            font-size: 25px;
        }
    
        .second_sec .box .item{
            width: 130px;
            height: 120px;
            margin-bottom: 4%;
        }
    
        .second_sec .box {
            width: 100%;
            gap: 4%;
            margin-left: 0%;
        }
    
        #seven{
            display: none;
        }
    
        #nine{
            display: none;
        }
    
        #eight{
            display: none;
        }
    
        .third_sec h1{
            font-size: 25px;
        }
    
        .third_sec .box {
            width: 100%;
            margin-left: 0;
        }
    
        .third_sec{
            margin-bottom: 50px;
        }
    
      .third_sec  .box .item .left{
            width: 200px;
            height: 85px;
            margin-left: 0px;
            padding: 10px;
        }
    
      .third_sec .box .item .right{
        width: 80px;
        height: 65px;
      }  
    
      .third_sec .box .item{
        width: 80%;
        height: 67px;
        
      }
    
      .third_sec  .box .item .left p{
        font-size: 13px;
      }
    
    
      .fourth_sec h1{
        font-size: 25px;
      }
    
      .fourth_sec .box {
        width: 90%;
        margin-left: 5%;
      }
      .fourth_sec .box p{
        font-size: 18px;
      }
    
      .fourth_sec .box .left{
        width: 45%;
        height: 160px;
      }
    
      .fourth_sec .box img{
        width: 40%;
      }
    
      .fourth_sec{
        margin-bottom: 30px;
      } 
    
      .modal_dialog .modal_hider .logo img{
        width: 70px;
      }
    
      .modal_dialog .modal_hider .close_btn button img{
        width: 25px;
        padding: 2px;
      }
    
      .modal_dialog .modal_hider{
        height: 50px;
        padding: 10px 5px;
      } 
    
      .modal_dialog .info_modal li a{
        font-size: 16px;
      }
    
      .modal_dialog .info_modal{
        margin-top: 50px;
        gap: 10px;
      }

      .footer .right {
        gap: 0px;
      }

      .footer .right .main_a {
        margin-right: 0px;
      }

      .modal_dialog .modal_header_line{
        height: 5px;
      }

      .footer_box .line{
        position: absolute;
        bottom: 50px;
      }

      .fourth_sec .box {
        width: 70%;
        margin-left: 15%;
    }

    .header .logo img{
        margin-right: 0px;
    }

      
    }     


@media(max-width:576px){
.header .logo img {
    width: 120px;
    padding-top: 10px;

}

.header{
    width: 100%;
}

.line_header{
    width: 100%;
    height: 5px;
}

.header .midle ul li .email{
    font-size: 25px;
}

.header .midle .menu{
    position: absolute;
    top: 10px;
    right: 10px;
}

.header{
    padding: 0px 5px;

}

.header .logo img{
    margin-right: 0px;
}

.header .logo img{
    width: 80px;
    margin-right: 20px;
}

.header .midle ul{
    gap: 0px;
}

/* .header .right ul li{
}  */

.header .midle ul li .email{
    font-size: 16px;
    display: block;
    text-align: center;
}

.header .menu button img{
    width: 25px;
}

.header .midle ul li a{
    display: none;
}

/* 
.first_sec .box .item .right{
    padding-right: 10px;
} */

.first_sec{
    margin-bottom: 100px;
}

.first_sec .box .item .left{
    margin-left: 20px;
}

.first_sec .box .item .right h1{
    font-size: 15px;
    padding-top: 15px;
}

.first_sec .box .item .left{
    height: 120px;
    width: 130px;
}

.first_sec  .box{
    padding-top: 40px;
    gap: 25px;
    margin-bottom: 20px;
}

.first_sec .box .item{
    gap: 15px;
}


.footer{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.footer_box .line{
    height: 5px;
}

.footer .right a {
    display: none;
}

.footer .right .main_a{
    display: block;
}



.header{
    width: 100%;
    height: 50px;
}

.line_header{
    width: 100%;
}

.header .right .menu {
    right: 5px;
    top: 5px;
}

    .footer a{
        font-size: 15px;
    }

    .footer .left {
        margin-left: 10px;
    }


    .footer p {
        font-size: 15px;
    }

    .footer .right .main_a{
        margin-left: 0px;
    }

    .footer{
        gap: 5px;
        height: 50px;
    }


    .second_sec{
        margin-bottom: 100px;
    }

    .second_sec h1{
        font-size: 25px;
    }

    .second_sec .box .item{
        width: 130px;
        height: 120px;
        margin-bottom: 4%;
    }

    .second_sec .box {
        width: 100%;
        gap: 4%;
        margin-left: 0%;
    }

    #seven{
        display: none;
    }

    #nine{
        display: none;
    }

    #eight{
        display: none;
    }

    .third_sec h1{
        font-size: 25px;
    }

    .third_sec .box {
        width: 100%;
        margin-left: 0;
    }

    .third_sec{
        margin-bottom: 50px;
    }

  .third_sec  .box .item .left{
        width: 200px;
        height: 85px;
        margin-left: 0px;
        padding: 10px;
    }

  .third_sec .box .item .right{
    width: 80px;
    height: 65px;
  }  

  .third_sec .box .item{
    width: 80%;
    height: 67px;
    
  }

  .third_sec  .box .item .left p{
    font-size: 13px;
  }


  .fourth_sec h1{
    font-size: 25px;
  }

  .fourth_sec .box {
    width: 80%;
    margin-left: 10%;
  }
  .fourth_sec .box .right p{
    font-size: 15px;
  }

  .fourth_sec .box .left{
    width: 45%;
    height: 160px;
  }

  .fourth_sec .box img{
    width: 50%;
  }

  .fourth_sec{
    margin-bottom: 30px;
  } 

  .modal_dialog .modal_hider .logo img{
    width: 70px;
  }

  .modal_dialog .modal_hider .close_btn button img{
    width: 25px;
    padding: 2px;
  }

  .modal_dialog .modal_hider{
    height: 50px;
    padding: 10px 5px;
  } 

  .modal_dialog .info_modal li a{
    font-size: 16px;
  }

  .modal_dialog .info_modal{
    margin-top: 50px;
    gap: 10px;
  }

  .footer_box .line{
    position: absolute;
    bottom: 50px;
  }     

  .fourth_sec .box img{
    width: 40%;
  }

  .header .right{
    margin-left: 15%;
}
} 
 


@media(max-width:326px) {


/*   .show{
    display: block;
  }

  .hide{
    display: none;
  }

    .modal_dialog{
        display: none;
    } */

    .header{
        padding: 0px 5px;

    }

    .header .logo img{
        width: 80px;
    }

    .header .midle ul{
        gap: 0px;
    }

    /* .header .right ul li{
    }  */

    .header .midle ul li .email{
        font-size: 16px;
        display: block;
        text-align: center;
    }

    .header .menu button img{
        width: 25px;
    }

    .header .midle ul li a{
        display: none;
    }

    .header .right{
        margin-left: 10%;
    }

/* 
    .first_sec .box .item .right{
        padding-right: 10px;
    } */

    .first_sec{
        margin-bottom: 100px;
    }

   .first_sec .box .item .left{
        margin-left: 20px;
    }

    .first_sec .box .item .right h1{
        font-size: 15px;
        padding-top: 15px;
    }

    .first_sec .box .item .left{
        height: 120px;
        width: 130px;
    }

    .first_sec  .box{
        padding-top: 40px;
        gap: 25px;
        margin-bottom: 20px;
    }

    .first_sec .box .item{
        gap: 15px;
    }
    

    .footer{
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 5px;
        height: 50px;
    }

    .footer_box .line{
        height: 5px;
    }

    .footer .right a {
        display: none;
    }

    .footer .right .main_a{
        display: block;
    }

    body{
        overflow-x: hidden;
    }

    .header{
        width: 100%;
        height: 50px;
    }

    .line_header{
        width: 100%;
    }

    .header .right .menu {
        right: 5px;
        top: 5px;
    }

        .footer a{
            font-size: 15px;
        }

        .footer .left {
            margin-left: 10px;
        }


        .footer p {
            font-size: 15px;
        }

        .footer .right .main_a{
            margin-left: 0px;
        }

       


        .second_sec{
            margin-bottom: 100px;
        }

        .second_sec h1{
            font-size: 25px;
        }

        .second_sec .box .item{
            width: 130px;
            height: 120px;
            margin-bottom: 4%;
        }

        .second_sec .box {
            width: 100%;
            gap: 4%;
            margin-left: 0%;
        }

        #seven{
            display: none;
        }

        #nine{
            display: none;
        }

        #eight{
            display: none;
        }

        .third_sec h1{
            font-size: 25px;
        }

        .third_sec .box {
            width: 100%;
            margin-left: 0;
        }

        .third_sec{
            margin-bottom: 50px;
        }

      .third_sec  .box .item .left{
            width: 200px;
            height: 85px;
            margin-left: 0px;
            padding: 10px;
        }

      .third_sec .box .item .right{
        width: 80px;
        height: 65px;
      }  

      .third_sec .box .item{
        width: 80%;
        height: 67px;
        
      }

      .third_sec  .box .item .left p{
        font-size: 13px;
      }


      .fourth_sec h1{
        font-size: 25px;
      }

      .fourth_sec .box {
        width: 90%;
        margin-left: 5%;
      }
      .fourth_sec .box .right p{
        font-size: 15px;
      }

      .fourth_sec .box .left{
        width: 45%;
        height: 160px;
      }

      .fourth_sec .box img{
        width: 40%;
      }

      .fourth_sec{
        margin-bottom: 30px;
      } 

      .modal_dialog .modal_hider .logo img{
        width: 70px;
      }

      .modal_dialog .modal_hider .close_btn button img{
        width: 25px;
        padding: 2px;
      }

      .modal_dialog .modal_hider{
        height: 50px;
        padding: 10px 5px;
      } 

      .modal_dialog .info_modal li a{
        font-size: 16px;
      }

      .modal_dialog .info_modal{
        margin-top: 50px;
        gap: 10px;
      }

      .footer_box .line{
        position: absolute;
        bottom: 50px;
      }

      .header .logo img{
        margin-right: 0px;
      }

    }